*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3%;
    background: #f0f0f0;
}

.resumeDiv{
    width: 70%;
    border: 2px solid black;
}

header {
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background: linear-gradient(rgba(41, 168, 218, 0.63), rgba(32, 141, 214, 0.562));
    margin-bottom: 20px;
}

.white{
    color: white;
}

header img{
    width: 150px;
    height: 160px;
    border-radius: 50%;
}

.content{
    width: 100%;
    display: flex;
}

.content aside{
    width: 30%;
    padding-left: 50px;
    padding-bottom: 30px;
    background: #f9f9f9;
}

.contactInfo h2,
.educationInfo h2,
.skills h2,
.languages h2,
.experienceInfo h2,
.refrence h2{
    border-bottom: 1px solid #00BFFF;
    margin-bottom: 20px;
    padding-bottom: 3px;
    color: #00Bfff;
}

.contactInfo {
    margin-bottom: 30px;
    padding-bottom: 3px;
}

.educationInfo{
    line-height: 20px;
    margin-bottom: 30px;
}

.skills ul {
    margin-left: 18px;
}

.skills {
    margin-bottom: 30px;
}

.mainContent {
    padding-left: 50px;
    width: 70%;
    background-color: white;
}

.experienceItems{
    margin-bottom: 55px;
}

.experienceItems p{
    margin-bottom: 5px;
}

.experienceItems ul{
    margin-left: 18px;
    margin-top: 15px;
}

.btnDiv{
    width: 70%;
    padding: 2%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
}

.btn{
    font-size: 18px;
    font-weight: 600;
    padding: 10px 14px;
    border-radius: 8px;
    color: white;
    background-color: #00Bfff;
    cursor: pointer;

    &:hover{
        background: #007B9E;
    }

    &:active{
        transform: scale(0.95);
    }
}

.hide{
    display: none;
}

@media print {
    .btnDiv{
        display: none;
    }
}







@media (max-width: 786px) {
    .content{
        flex-direction: column;
    }

    .content aside, .mainContent{
        width: 100%;
    }

}


